@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo{
  background-image: url("/assets/img/fondo.svg") ;
  background-size:contain;
  background-repeat: repeat;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}
